source "drivers/opp/Kconfig"
source "drivers/visorbus/Kconfig"
source "drivers/siox/Kconfig"
source "drivers/slimbus/Kconfig"
source "drivers/interconnect/Kconfig"
source "drivers/counter/Kconfig"
source "drivers/uwb-sr100/Kconfig"
source "drivers/kernelsu/Kconfig"
endmenu
